behave~=1.2.6
parameterized~=0.9.0
behave~=1.2.6
allure-behave~=2.13.5
streamerate~=1.1.4
flake8
black
isort
coverage
coveralls
sympy
numpy
lark
rich
django~=5.2
djangorestframework~=3.16.0
django-cors-headers
