behave~=1.3.3
parameterized~=0.9.0
behave~=1.3.3
allure-behave~=2.14.2
streamerate~=1.1.4
flake8
black
isort
coverage
coveralls
sympy
numpy
lark
rich
django~=5.2.1
djangorestframework~=3.16.0
django-cors-headers
